
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// -------------CUSTOM CSS-----------------

////////////// GLOBAL /////////////////
// BGs and containers
body {
  background-color: #5c338a;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  background-color: #2a285f;
}

.indigo {
  background-color: $indigo;
}


//header
.logo {
  height: 45px;
  margin: 0 auto;
}

.header-float {
  clear: both;
}

.main-cols {
  text-align: center;
}

.main-links-ul {
  padding: 0;
}

.hidden {
  display: flex;
}

.second-navbar {
  display: none;
}

.show-on-large {
  display: none;
}

a.dropdown-item {
  font-size: 1em;
  color: #9cc34d;
}

a.big {
  font-size: 1.2em;
}

.divider {
  height: 30px;
  clear:both;
}


// footer
footer p, .fuxia, ol li {
  color: $fuxia;
}


// typography
ul {
  list-style-type: none;
}

ul li a {
  font-size: 1.4em;
}

.nav-link {
  font-size: 1em;
}

.font-size-2 {
  font-size: 2em;
}

.font-size-3 {
  font-size: 3em;
}

.link-style:hover, a:hover {
  color: $hover-blue;
  text-decoration: none;
}

.no-link-style {
  text-decoration: none;
  cursor: pointer;
}

p, .grey {
  color: $font-grey;
}

h1, h2, h3, h4, h5, h6, a, .green {
  color: $link-green;
}



//////// FRONT PAGE /////////////
.image-50 {
  height: 700px;
}



// Posts section
.calendar {
  float:left;
  width: 50%;
  margin-right: 15px;
  background-color: $fuxia;
  color: $link-green;
  text-align: center;
  border-radius: 8px;
}

.post {
  height: 50px;
  overflow: auto;
}


// Subscribe section
.subscribe {
  margin: 0 auto;
  width: 90%;
  background-color: $fuxia;
  border-radius: 8px;
}


// Video section
.video {
    margin: 0 auto;
}

// Carousel
.carousel {
  width:400px;
  height:300px;
}


// Cookies Consent
.cookie-consent {
  position: fixed;
  bottom: 2em;
  right: 2em;
  background-color: $fuxia;
  color: $link-green;
  padding: 2em;
  border-radius: 8px;
  z-index: 10;
}

.cookie-consent__agree {
  background-color: $link-green;
  color: $fuxia;
  border-radius: 8px;
  display:block;
  padding: 0.2em 4em;
  margin: 1em auto;
  cursor: pointer;
}

//login panel
.log-banner {
  position: fixed;
  top: 2em;
  right: 2em;
  background-color: $fuxia;
  color: $link-green;
  padding: 1.2em 1em 0.5em 1em;
  border-radius: 8px;
  z-index: 9;
}


//////// BIO PAGE ///////////////////
.bio-card {
  max-width: 250px;
  background-color: $bg-purple;
  margin: 2em auto;
}

///////// SHOW POSTS /////////////////////
.bg-none {
  background-color: inherit;
  border: none;
}

ul.pagination li a {
  background-color:inherit;
}

.page-link {
  font-size: 1em;
  border-color: $link-green;
  color: $link-green;
}

.page-item.active .page-link {
  background-color: $link-green;
  border-color: $link-green;
}

.page-item.disabled .page-link {
  background-color: inherit;
  border-color: $link-green;

}

////////// DASHBOARD ////////////

.event-box {
  background-color: $fuxia;
  border-radius: 8px;
  width: 100%;
}




/////////  MEDIA QUERIES //////////
@media screen and (min-width: 576px) {
  .image-50 {
    max-width: none;
  }

}

@media screen and (min-width: 768px) {

  ul li a {
    font-size: 1.6em;
  }

  .main-cols {
    text-align: left;
  }

  .align-right {
    margin-left: 5em;
  }

  iframe {
    width: 560px;
    height: 315px;
  }

  .logo {
    height: 70px;
  }

  .header-float {
    float:right;
  }

  .hidden {
    display: none;
  }

  .second-navbar {
    display: flex;
    justify-content: center;
  }

  .show-on-large {
    display: flex;
  }

  .divider {
    height: 10px;
    clear:both;
  }

  .image-50 {
    height: auto;
  }

}


@media screen and (min-width: 995px) {

  .align-right {
    margin-left: 8em;
  }

  .logo {
    height: 96px;
  }

  .image-50 {
    height: auto;
  }

}
